* {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

.container {
  width: 600px;
  height: 600px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.container .title span {
  display: inline-block;
  width: 32.2%;
  text-align: center;
  background: #ccc;
  border: 1px solid red;
  line-height: 30px;
}

.container .title .active {
  color: green;
}

.container .context ul {
  padding: 10px;
  border: 1px solid #ccc;
  margin-top: 20px;
  display: none;
}

.container .context ul li {
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
