<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>标题</title>
</head>

<body>
    <div class="left">
        <a href="">
            <i></i>
        </a>
    </div>
    <div class="right">
        <ul>
            <li>
                <a href="#" class="shop"></a>
            </li>
            <li>
                <a href="./login.html" class="user"></a>
                <ul class="user-info">
                    <li class="username">史志龙</li>
                    <li>我是谁</li>
                    <li>我从哪里来</li>
                    <li>我要到哪里去</li>
                    <li class="cancle">退出登录</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="middle">
        <ul>
            <li>在线商城</li>
            <li>坚果Pro 2S</li>
            <li>坚果 R1</li>
            <li>坚果TNT工作站</li>
            <li>Smartisan OS</li>
            <li>欢喜云</li>
            <li>应用</li>
            <li>论坛</li>
            <li>荣誉与奖项</li>
        </ul>
    </div>
</body>

</html>