@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    .ban {
        width: 100%;
        height: 900px;
        position: absolute;
        top: 0;
        left: 0;
        // transform: translate(0);
    }
}

.banner {
    z-index: 200;
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
        display: block;
        width: 100px;
        height: 100px;
        img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
    }
}

.ban:target {
    z-index: 2;
}

.bag1:target {
    z-index: 100;
    animation: ban1 2s linear;
}

// a:nth-child(1):target {
//     animation: ban1 2s linear;
// }
@-webkit-keyframes ban1 {
    0% {
        // transform: rotate(50deg);
        transform: translateX(-100%) translateY(900px);
    }
    50% {
        // transform: rotate(180deg);
        transform: translateX(-50%) translateY(450px);
    }
    100% {
        // transform: rotate(360deg);
    }
}

.bag2:target {}